.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 10%;
  text-align: left;
  border-bottom: 2px solid rgb(223, 223, 223)
}

.container h1, p {
  text-align: left;
}

.container img {
  width: 100px;
}

.container .item {
  display: flex;
  align-items: center;
}

.container .arrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  cursor: pointer;
  font-size: normal;
}